extends layout

block content
  .container.h-100
    .row.h-25
      .col-6
      .col-6(align='right')
        br
        form(method='POST' action='ui/logout')
          button.btn.btn-danger(type='submit') Logout
    .row.align-items-center.h-75
      .col-6.mx-auto
        form(method='POST' action='/study_ui/demo')
          button.btn.btn-primary.btn-block(style='height:20%', type="submit")=options[0]['name']
      .col-6.mx-auto
        form(method='POST' action='study_ui/study')
          button.btn.btn-primary.btn-block(type='submit', style='height:20%')=options[1]['name']
          input(type='hidden' id='startStudy' name='startStudy' value='1')
          input(type='hidden', id='trialNo', name='trialNo', value='0')
